.users-header
  .users-header__text 患者一覧

.users-table
  .users-table__content
    - @user.each do |user|
      .users-table__content__detail
        = user.name

.users-new-page
  = link_to "患者登録", new_user_path, class:"link-user-create"
