.user-create
  = form_with model: @user, local: true do |f|
    .field
      .field-label
        = f.label :name
      .field-input
        = f.text_field :name, autofocus: true
    .actions
      = f.submit "作成", class: 'btn'
