.toppage-header
  %p.toppage-header__text 症状管理アプリ

.toppage-body
  %ul.toppage-body__table
    %li.users-index 
      = link_to '患者一覧', users_path, class:"users-index-table"

    %li.symptom-table

.footer
  %p 概要