.toppage-header{
  text-align: center;
  &__text{
    font-size: 18px;
  }
}


.toppage-body{
  &__table{
    font-size: 22px;
    .users-index-table{
      text-decoration: none;
      color: black;
    }
  }
}